node_modules
.env
.prisma
.agents
.claude
.windsurf
package-lock.json
.gitignore
package-lock.json
package.json
prisma/schema.prisma
prisma/migrations/20260826074052_init/migration.sql
prisma/migrations/20260826074718_change_role/migration.sql
prisma/migrations/20260826075659_change_price/migration.sql
prisma/migrations/20260826110836_add_model_to_psu_and_storage/migration.sql
prisma/migrations/20260826113646_rename_series_mainboard/migration.sql
prisma/migrations/20260826123625_add_product_status/migration.sql
prisma/migrations/20260826124154_add_product_status/migration.sql
prisma/migrations/20260829091533_add_saved_count_to_master_hardware/migration.sql
prisma/migrations/20260901103426_add_unique/migration.sql
prisma/migrations/20260903132849_add_approve_by_at_shops/migration.sql
